@import '../../utils/colors';

.disk {
  margin-top: 20px;

  &__btns {
    display: flex;
  }

  &__create {
    margin-left: 10px;
  }

  &__upload-input {
    display: none;
  }

  &__upload-label {
    border: 2px dashed @font-color;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
  }

  &__select {
    margin-left: auto;
  }
}

.drop-area {
  width: 100%;
  height: calc(100vh - 50px - 40px);
  margin: 20px;
  border: dashed @font-color 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
